/*for the forms the sign up,registration and sign in */
#signin 
{
	background-color: rgba(11, 11, 41, 0.911);
    width: 300px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
		}
/*adjusting the nav bar*/
#vertical{ 
            position: fixed;
            height: 100%;
            overflow: auto;
            display: block;
         }
#brand{ color: white;
}
#navba{ width:100px;
        background-color: grey;
        list-style-type: none;

}
/*resizes the jumbotron*/
#resize{ height: 100px;}
/*for the container/area below the jumbotron*
#BackgroundColor{ background-color: grey;}
 /*for the index page background picture to overide bootstap*/
#ground {background-image:url(../static/images.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         margin: 0;
         height: 100%;
        
		}
/*for the sign in form;the color was too dull */
#Form{color: white;}
/*the remember me checkbox was too dull*/
#RememberMe{color:white;}
/*so that text inside forms esp lables can pop*/
#Text{ color:white;}

/*for the input style in the sign up form*/
#myinput{
    border: 2px solid
    rgb(45, 59, 70);
    border-radius: 10px;
    outline: none;
    background-color:whitesmoke;
    width:80%;
    height:20px;
     }

#bodycolor{background-color: grey;
}
/* for the buttons in sign in */
#button{
    text-align: center;
    color: antiquewhite;
    font-size: 16px;
}
/* styling the heading */
#myhead{ text-align: center;}
