/*for the forms the sign up,registration and sign in */
#signin 
{
	background-color: rgba(11, 11, 41, 0.911);
    width: 300px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
        }
        /* the logo color */

#brand{ color: white;
}
/* dashboard background */
#dash{background-color: grey;
}


/*for the sign in form;the color was too dull */
#Form{color: white;}
/*the remember me checkbox was too dull*/
#RememberMe{color:white;}
/*so that text inside forms esp lables can pop*/
#Text{ color:white;}

/*for the input style in the sign up form*/
#myinput{
    border: 2px solid
    rgb(45, 59, 70);
    border-radius: 10px;
    outline: none;
    background-color:whitesmoke;
    width:80%;
    height:20px;
     }
 /* backgroundcolor */
#bodycolor{background-color:burlywood;
}
/* for the buttons in sign in */
#button{
    text-align: center;
    color: antiquewhite;
    font-size: 16px;
}
/* styling the heading */
#myhead{ text-align: center;
        color:black;           
}
#listedit{ list-style-type: none;


}


/*adjusting the nav bar*/
/* #vertical{ 
            position: fixed;
            height: 100%;
            overflow: auto;
            display: block;
         } */

#navba{ width:100px;
        background-color: grey;
        list-style-type: none;

}


